<form asp-action="teamNames">
<div class="text-center">
    <p font-size=50px>Quantidade de Times:</p>
    <input  type="number" id = "qtd" name="qtd" onkeyup="OnlyNumber(this);" placeholder="Apenas número..."/>

    <button type = "submit">Adicionar</button>
    <hr/>
    <script>
        function OnlyNumber(num) {
            var er = /[^0-9.]/;
            er.lastIndex = 0;
            var field = num;
            if (er.test(field.value)) {
                field.value = "";
            }
        }
    </script>
    
</div>
</form>
